  <footer id="footer">
    <nav>
      <ul>
        <li><span>YUNIQL</span></li>
        <li>
          <a href="https://github.com/rdagumampan/yuniql">Code</a>
        </li>
        <li>
          <a href="/docs/">Docs</a>
        </li>
          <li>
            <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence Apache v2.0 | YUNIQL is maintanined by Rodel E. Dagumampan</p>
  </footer>