{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  <div id="action-buttons">
    <!-- <a class="button primary big" href="https://github.com/rdagumampan/yuniql#yuniql-----"  onclick="_gaq.push(['_trackEvent', 'kube', 'download']);" target="new">Get started</a>  -->
    <!-- <a class="button outline big" href="https://github.com/rdagumampan/yuniql/wiki" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);" target="new">Documentation</a> -->
    <a class="button primary big" href="/docs/get-started/"  onclick="_gaq.push(['_trackEvent', 'yuniql', 'getstarted']);" target="new">Get started</a> 
    <a class="button outline big" href="/docs/" onclick="_gaq.push(['_trackEvent', 'yuniql', 'docs']);" target="new">Documentation</a>
    <a class="button outline big" href="https://marketplace.visualstudio.com/items?itemName=rdagumampan.yuniql-azdevops-extensions" onclick="_gaq.push(['_trackEvent', 'yuniql', 'azdevops']);" target="new">Use Azure Pipelines</a>
    <p>NEW! Released v1.0 as Choco and Nuget packages, Az DevOps Tasks and Docker images - June.27.2020.</p>

    <br>
    <center>
      <img alt="Minimalism" src="/images/screen-gif-full.gif" width="80%">
    </center>
    
  </div>

  <!-- <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " href="https://github.com/rdagumampan/yuniql">yuniql</a> NEW! Announcing the first production-ready release with v1.0! <mark>Star and watch the repo</mark> updates of project yuniql on Github!</a>
  </div> -->

  <!-- <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " href="https://github.com/rdagumampan/yuniql">YUNIQL</a> Alpha release is set Q1-2020. Star and watch latest the development of YUNIQL on Github!
  </div> -->

  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Raw SQL+</h3>
        <p>Versions are normal directories. Scripts are series of plain old .sql files. + Bulk import master data and load-up lookup tables from CSV files.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>.NET Core Native</h3>
        <p>Released as self-contained .NET Core 3.0 application. Stand-alone .exe file. No need for .NET CLR or any runtime dependencies to be installed.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Cloud Ready</h3>
        <p>Platform tested for Azure SQL Database, Amazon RDS and Google Cloud SQL. Plugins for Snowlflake, Aurora and Azure Synapse are lined up for development. ***</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>DevOps Friendly</h4>
        <p>Azure Pipelines Tasks available in Azure DevOps Market Place. Docker base images and rich CLI commands for your CI/CD pipelines.</p>
      </div>
      <div class="col col-4 item">
        <h4>Extensible</h4>
        <p>Simple and open interface to support other RDBMS platforms. Released with PostgreSql, MySql, MariaDB platform extensions</p>
      </div>
      <div class="col col-4 item">
        <h4>Free & Open Source</h4>
        <p>Absolutely free for personal or commercial use. Released under Apache License version 2.0 and feel free to inspect code in GitHub repository.</p>
    </div>
  </div>
</div>

    <!-- <br>
    <center>
      <img alt="Minimalism" src="/images/screen-gif-full.gif" width="80%">
    </center> -->

<br><br>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="https://yuniql.us4.list-manage.com/subscribe/post?u=c1fc3afa142ccfe20fe518e2e&amp;id=71d4a506b8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Sign-up for Data Platform DevOps tips & tricks</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c1fc3afa142ccfe20fe518e2e_71d4a506b8" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Yes, ping me!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
